## Generazione nuovi esempi di training

In [43]:
import os
import pandas as pd
dir_path='sample_data/itunes-amazon'
tableA_df = pd.read_csv(os.path.join(dir_path,'tableA.csv'))
tableB_df = pd.read_csv(os.path.join(dir_path,'tableB.csv'))

In [44]:
tableA_df.head()

,id,Song_Name,Artist_Name,Album_Name,Genre,Price,CopyRight,Time,Released
0,0,Runaway Train,Cam,Welcome to Cam Country - EP,"Country , Music , Contemporary Country , Honky...",$ 0.99,2015 Sony Music Entertainment,3:01,31-Mar-15
1,1,Track 14,Omi,Me 4 U,"Pop/Rock , Music , Pop , Dance , R&B / Soul",Album Only,"2015 Ultra Records , LLC under exclusive licen...",3:41,NaN
2,2,Lips Are Movin,Meghan Trainor,Title,"Pop , Music , Pop/Rock , Dance , Rock , Teen Pop",$ 1.29,"2014 , 2015 Epic Records , a division of Sony ...",3:01,9-Jan-15
3,3,I Want a Hippopotamus for Christmas,A Great Big World,I 'll Be Home For Christmas,"Holiday , Music",$ 1.29,"Compilation ( P ) 2014 Epic Records , a divisi...",2:20,24-Nov-14
4,4,Credit,Meghan Trainor,Title ( Deluxe ),"Pop , Music , Rock , Pop/Rock , Dance , Teen Pop",$ 1.29,"2014 , 2015 Epic Records , a division of Sony ...",2:51,9-Jan-15

In [45]:
tableB_df.tail()

,id,Song_Name,Artist_Name,Album_Name,Genre,Price,CopyRight,Time,Released
55918,55918,Bloodstream,Ed Sheeran,x,Pop,$ 1.29,( C ) 2014 mau5trap Recordings Ltd,5:00,"June 20 , 2014"
55919,55919,Tenerife Sea,Ed Sheeran,x,Pop,$ 1.29,( C ) 2014 mau5trap Recordings Ltd,4:01,"June 20 , 2014"
55920,55920,Runaway,Ed Sheeran,x,Pop,$ 1.29,( C ) 2014 mau5trap Recordings Ltd,3:25,"June 20 , 2014"
55921,55921,The Man,Ed Sheeran,x,Pop,$ 1.29,( C ) 2014 mau5trap Recordings Ltd,4:10,"June 20 , 2014"
55922,55922,Thinking Out Loud,Ed Sheeran,x,Pop,$ 1.29,( C ) 2014 mau5trap Recordings Ltd,4:41,"June 20 , 2014"

In [46]:
tableA_df['Artist_Name']= tableA_df['Artist_Name'].apply(lambda s: s.lower())
tableA_df['Song_Name']= tableA_df['Song_Name'].apply(lambda s: s.lower())

In [47]:
tableA_df.head()

,id,Song_Name,Artist_Name,Album_Name,Genre,Price,CopyRight,Time,Released
0,0,runaway train,cam,Welcome to Cam Country - EP,"Country , Music , Contemporary Country , Honky...",$ 0.99,2015 Sony Music Entertainment,3:01,31-Mar-15
1,1,track 14,omi,Me 4 U,"Pop/Rock , Music , Pop , Dance , R&B / Soul",Album Only,"2015 Ultra Records , LLC under exclusive licen...",3:41,NaN
2,2,lips are movin,meghan trainor,Title,"Pop , Music , Pop/Rock , Dance , Rock , Teen Pop",$ 1.29,"2014 , 2015 Epic Records , a division of Sony ...",3:01,9-Jan-15
3,3,i want a hippopotamus for christmas,a great big world,I 'll Be Home For Christmas,"Holiday , Music",$ 1.29,"Compilation ( P ) 2014 Epic Records , a divisi...",2:20,24-Nov-14
4,4,credit,meghan trainor,Title ( Deluxe ),"Pop , Music , Rock , Pop/Rock , Dance , Teen Pop",$ 1.29,"2014 , 2015 Epic Records , a division of Sony ...",2:51,9-Jan-15

In [48]:
tableB_df['Artist_Name']= tableB_df['Artist_Name'].apply(lambda s: s.lower())
tableB_df['Song_Name']= tableB_df['Song_Name'].apply(lambda s: s.lower())

In [49]:
tableB_df.head()

,id,Song_Name,Artist_Name,Album_Name,Genre,Price,CopyRight,Time,Released
0,0,saxophone stomp [ explicit ],rusko,! ( Volume 2 ) [ Explicit ],"Dance & Electronic , Dubstep",$ 1.29,( C ) 2014 FMLY Under Exclusive License To Uni...,3:20,"September 16 , 2014"
1,1,i wan na mingle [ feat . pusher ],rusko,! ( Volume 2 ) [ Explicit ],"Dance & Electronic , Dubstep",$ 1.29,( C ) 2014 FMLY Under Exclusive License To Uni...,2:36,"September 16 , 2014"
2,2,lytah,rusko,! ( Volume 2 ) [ Explicit ],"Dance & Electronic , Dubstep",$ 1.29,( C ) 2014 FMLY Under Exclusive License To Uni...,3:48,"September 16 , 2014"
3,3,slappy pappy,rusko,! ( Volume 2 ) [ Explicit ],"Dance & Electronic , Dubstep",$ 1.29,( C ) 2014 FMLY Under Exclusive License To Uni...,3:55,"September 16 , 2014"
4,4,fushion jam,rusko,! ( Volume 2 ) [ Explicit ],"Dance & Electronic , Dubstep",$ 1.29,( C ) 2014 FMLY Under Exclusive License To Uni...,1:48,"September 16 , 2014"

In [50]:
def minimumEditDistance(s1,s2):
    if len(s1) > len(s2):
        s1,s2 = s2,s1
    distances = range(len(s1) + 1)
    for index2,char2 in enumerate(s2):
        newDistances = [index2+1]
        for index1,char1 in enumerate(s1):
            if char1 == char2:
                newDistances.append(distances[index1])
            else:
                newDistances.append(1 + min((distances[index1],
                                             distances[index1+1],
                                             newDistances[-1])))
        distances = newDistances
    return distances[-1]

In [51]:
def jaccard_distance(list1, list2):
    intersection = len(list(set(list1).intersection(list2)))
    #print(list(set(list1).intersection(list2)))
    union = (len(list1) + len(list2)) - intersection
    return float((union-intersection) / union)

In [52]:
import nltk
stopwords = nltk.download("stopwords")

from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
tokenizer = RegexpTokenizer(r'\w+')
stop_words = set(stopwords.words('english'))
stop_words.update(['.', ',', '"', "'", ':', ';', '(', ')', '[', ']', '{', '}'])

[nltk_data] Downloading package stopwords to /home/nvidia/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [53]:
minimumEditDistance("Jason","Jason")

0

In [54]:
minimumEditDistance("I want to break free","I want to break thea")

3

In [55]:
minimumEditDistance("i am break free","i want to break free")

6

In [57]:
def get_clean_tokens(s):
    tokens =tokenizer.tokenize(s)
    return [word for word in tokens if word not in stop_words]

## Ricerca di canzoni non matching tramite jaccard similarity

In [58]:
import random
new_samples ={"ltable_id":[],'rtable_id':[],'label':[],'l_artist':[],'l_song':[],'r_artist':[],'r_song':[],'ltime':[],
             'rtime':[]}
for i in range(200):
    k = random.randint(0,tableA_df.shape[0]-1)
    l_row = tableA_df.iloc[k]
    ltime = l_row['Time']
    tableB_same_time = tableB_df[tableB_df['Time']==ltime]
    ##necessario perche' potrebbero non esserci canzoni in b con la stessa durata che quella di a
    l_id = l_row['id']
    l_artist = l_row['Artist_Name']
    l_song = l_row['Song_Name']
    l_artist_cleaned = get_clean_tokens(l_artist)
    l_song_cleanead = get_clean_tokens(l_song)
    found = False
    if(tableB_same_time.shape[0]==0):
        continue
    while(not found):
        j = random.randint(0,tableB_same_time.shape[0]-1)
        r_row = tableB_same_time.iloc[j]
        r_id = r_row['id']
        rtime= r_row['Time']
        r_artist = r_row['Artist_Name']
        r_song = r_row['Song_Name']
        r_song_cleaned = get_clean_tokens(r_song)
        r_artist_clean = get_clean_tokens(r_artist)
        if (jaccard_distance(l_artist_cleaned,r_song_cleaned)>=0.7 or jaccard_distance(l_song_cleanead,r_song_cleaned) >=0.7):
            found =True
    new_samples['ltable_id'].append(l_id)
    new_samples['rtable_id'].append(r_id)
    new_samples['l_artist'].append(l_artist)
    new_samples['l_song'].append(l_song)
    new_samples['r_song'].append(r_song)
    new_samples['r_artist'].append(r_artist)
    new_samples['rtime'].append(rtime)
    new_samples['ltime'].append(ltime)
    new_samples['label'].append(0)

In [71]:
new_samples_df = pd.DataFrame(new_samples)

In [72]:
new_samples_df.shape

(195, 9)

In [73]:
#stampa utile per debugging
new_samples_df.head(10)

,ltable_id,rtable_id,label,l_artist,l_song,r_artist,r_song,ltime,rtime
0,2972,2040,0,calvin harris,i 'm not alone ( deadmau5 mix ) [ bonus track ],masters of electronic dance music,hypohektika - 1996 ( electro / techno / house ),8:15,8:15
1,1251,33712,0,david guetta,the alphabeat,barney wilen,jazz sur seine,4:29,4:29
2,4547,31670,0,keith urban,billy,fitz & the tantrums,the end,3:46,3:46
3,6093,18314,0,lana del rey,summertime sadness,little big town,a little more you,4:25,4:25
4,4752,41720,0,katy perry,unconditionally,lmfao,reminds me of you [ explicit ],3:47,3:47
5,253,5327,0,x ambassadors,vhs outro ( interlude ),gerd turk,"st. matthew passion , bwv 244 : 38c . recitati...",1:25,1:25
6,6737,43676,0,the weeknd,the town,drake,lord knows [ feat . rick ross ] [ explicit ],5:07,5:07
7,5936,6069,0,nelly furtado & michael bublì ©,"quando , quando , quando",ludacris,sexting ( bonus track ( explicit ) ) [ explicit ],4:44,4:44
8,3407,15881,0,wiz khalifa,we dem boyz,voltio,tamo ' a lo loco ( clean version ) [ clean ],3:56,3:56
9,2065,51653,0,ryan adams,red hot blues,paul mccartney,rainclouds ( remastered 2015 ),3:13,3:13

In [74]:
new_samples_df = new_samples_df.drop(['l_artist','l_song','r_artist','r_song','ltime','rtime'],axis=1)

In [75]:
new_samples_df.head()

   ltable_id  rtable_id  label
0       2972       2040      0
1       1251      33712      0
2       4547      31670      0
3       6093      18314      0
4       4752      41720      0

In [78]:
train_df = pd.read_csv('sample_data/itunes-amazon/split-files/training_ids.csv')
train_df.shape

(321, 3)

In [79]:
new_train_df = pd.concat([train_df,new_samples_df])

In [81]:
new_train_df.head()
print(new_train_df.shape)

(516, 3)

In [82]:
new_train_df.to_csv('sample_data/itunes-amazon/split-files/new_trainining_ids.csv',index=False)