## Scopo
per evitare di mettere in memoria tutto il dataset con i positivi /negativi, mi basta creare un dataset con tutti i possibili valori

In [87]:
import pandas as pd
import numpy as np

In [104]:
negatives = pd.read_csv('../../Structured/Amazon-Google/negatives.csv')
positives = pd.read_csv('../../Structured/Amazon-Google/positives.csv')

In [105]:
attributes =['title','manufacturer','price']

In [106]:
df_l = []
for att in attributes:
    df = negatives.groupby(['ltable_'+att,'rtable_'+att]).size().reset_index(name='Time')
    df_l.append(df)

In [107]:
df_l_pos = []
for att in attributes:
    df = positives.groupby(['ltable_'+att,'rtable_'+att]).size().reset_index(name='Time')
    df_l_pos.append(df)

In [108]:
allValuesNeg_df = pd.concat(df_l,axis=1,sort=False)
allValuesPos_df = pd.concat(df_l_pos,axis=1,sort=False)

In [109]:
allValuesNeg = allValuesNeg_df.fillna("")
allValuesPos = allValuesPos_df.fillna("")

In [110]:
del allValuesNeg_df['Time']
del allValuesPos_df['Time']

In [111]:
allValuesNeg_df['label']=0
allValuesNeg_df['id'] = np.arange(allValuesNeg_df.shape[0])

In [112]:
allValuesPos_df['label']=1
allValuesPos_df['id'] = np.arange(allValuesPos_df.shape[0])

In [121]:
columns = ['label','ltable_title','ltable_manufacturer','ltable_price','rtable_manufacturer','rtable_price','id']
allValuesNeg_df = allValuesNeg_df.ix[:,columns]
allValuesPos_df = allValuesPos_df.ix[:,columns]

/home/nvidia/anaconda3/envs/testenv/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

/home/nvidia/anaconda3/envs/testenv/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

In [124]:
allValuesNeg_df.head()

,label,ltable_title,ltable_manufacturer,ltable_price,rtable_manufacturer,rtable_price,id
0,0,1pk internet sec ste 2007 oem,abacus,4.99,abacus software,9.59,0
1,0,1pk internet sec ste 2007 oem,abacus,6.99,riverdeep-learning-company,7.93,1
2,0,1pk internet sec ste 2007 oem,adobe,6.99,adobe,8.79,2
3,0,1pk internet sec ste 2007 oem,adobe,6.99,adobe software,9.99,3
4,0,1pk internet sec ste 2007 oem,adobe,6.99,adobe systems inc,31.06,4

In [126]:
allValuesNeg_df.to_csv('../../Structured/Amazon-Google/neg_values.csv',index=False)
allValuesPos_df.to_csv('../../Structured/Amazon-Google/pos_values.csv',index=False)